@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*-----CONFIG-----*/
* {
  @apply box-border m-0 p-0;
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

:root {
  color-scheme: light dark; /*Device dependent theme*/
  /*color-scheme: light; /*Light theme*/
  /*color-scheme: dark; /*Dark theme*/
}
html {
  @apply overflow-x-hidden overflow-y-hidden;
  height: -webkit-fill-available;
}
body {
  @apply flex flex-col h-screen mx-auto my-0 overflow-x-hidden overflow-y-scroll scroll-smooth;
  height: -webkit-fill-available;
}
#root {
  @apply relative flex-1 flex flex-col gradient-root; /*Scrollable pages*/
  /*@apply fixed top-0 w-full h-full gradient-root; /*Fixed pages*/
  /*@apply mb-0 md:mb-0; /*Footer visibility*/
}
#root > main {
  /*For fixed pages*/
  /*height: calc(100% - 0px); /*Stretched content minus header height*/
  /*height: calc(100% - 0px - 0px); /*Stretched content minus header & footer height*/
}

.no-scroll {
  overflow: hidden;
}

.internal-scroll {
  overflow-x: none;
  overflow-y: overlay;
}
.internal-scroll::-webkit-scrollbar {
  @apply w-[10px];
}
.internal-scroll::-webkit-scrollbar-track,
.internal-scroll::-webkit-scrollbar-corner {
  @apply bg-transparent;
}
.internal-scroll::-webkit-scrollbar-thumb {
  @apply bg-gray-200/10 hover:bg-gray-200/20 rounded-full;
}

.gradient-root {
  background: linear-gradient(100deg, #051b41 0%, #301642 60%, #850b45 100%);
}
.gradient-navbar {
  background: linear-gradient(45deg, #051b41 0%, #301642 66%, #850b45 100%), rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
}
.gradient-mobile-menu {
  background: linear-gradient(280deg, #051b41 3%, #301642 32%, #850b45 97%), rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
}
.gradient-footer {
  background: linear-gradient(85deg, #051b41 0%, #301642 44%, #850b45 100%), rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
}

/*-----COMPONENTS-----*/

/*-----ELEMENTS-----*/
.mobile-menu {
  width: calc(100% - 16px);
}
.hero {
  @apply flex items-center w-full;
  /*height: calc(100vh - 64px); /**/
  height: calc(75vh - 48px); /**/
  /*height: calc(50vh - 32px); /**/
}
.content {
  @apply w-full mx-auto px-3 sm:px-4 xl:container;
}
option {
  color: #000 !important;
  background-color: red !important;
}

/*-----BREAKPOINTS-----*/
/*from sm*/
@media (min-width: 640px) {
}
/*from md*/
@media (min-width: 768px) {
  #root {
    @apply mb-14; /*Footer visibility*/
  }
  #root > main {
    /*For fixed pages*/
    /*height: calc(100% - 0px); /*Stretched content minus header height*/
    /*height: calc(100% - 0px - 0px); /*Stretched content minus header & footer height*/
  }

  .hero {
    max-height: 512px;
  }
}
/*from lg*/
@media (min-width: 1024px) {
}
/*from xl*/
@media (min-width: 1280px) {
}
